
VITE_SUPABASE_URL=h

VITE_SUPABASE_ANON_KEY=eyJIkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6bWdrenpiYXl5ZWF2cnFmaWNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU3NDY5MTAsImV4cCI6MjA2MTMyMjkxMH0.mTgG70t-vOWiPuQoofWk09zx_gtWBFz9NVLXsnDcfsk

PUBLIC_MISTRAL_API_KEY=QI

# Google Gemini API key
PUBLIC_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE