
VITE_SUPABASE_URL=https://lzmgkzzbayyeavrqfica.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6bWdrenpiYXl5ZWF2cnFmaWNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU3NDY5MTAsImV4cCI6MjA2MTMyMjkxMH0.mTgG70t-vOWiPuQoofWk09zx_gtWBFz9NVLXsnDcfsk
# Mistral AI API key
PUBLIC_MISTRAL_API_KEY=QIuT85rQv